
*.pdb
*.cache
.vs/Json Database Creator/v16/Server/sqlite3/storage.ide-wal
.vs/Json Database Creator/v16/Server/sqlite3/storage.ide-shm
.vs/Json Database Creator/v16/Server/sqlite3/storage.ide
.vs/Json Database Creator/v16/.suo
.vs/Json Database Creator/v16/.suo
.vs/Json Database Creator/v16/.suo
*.ide
.vs/Json-Database-Creator/v16/.suo
.vs/slnx.sqlite
*.cache
.vs/Json Database Creator/v16/.suo
.vs/Json Database Creator/v16/.suo
.vs/Json-Database-Creator/v16/.suo
*.sqlite
*.cache
.vs/Json Database Creator/v16/.suo
